@font-face {
    font-family: 'MyWebFont';
    src:  url('assets/font/0xA000/0xA000-Pixelated-Mono.ttf') format('ttf')
  }
  
body{
    background-image: url(assets/images/IMG_6096_SparkVideo.gif);
    font-family: 'MyWebFont';
}

#ML{
  position: absolute;
  top: 10%;
  left: 80%;
  width: 60%;
  height: 80%;
  overflow: hidden;
}

a{
border: rgb(146, 142, 173);
}

h1{
  position: absolute;
  top: 20%;
  left: 30%;
  font-size: 500%;
}

#handone{
  position: absolute;
  top: 20%;
  left: 10%;
  height: 25%;
}

#handtwo{
  position: absolute;
  top: 45%;
  left: 30%;
  height: 25%;
}

#handthree{
  position: absolute;
  top: 27%;
  left: 55%;
  height: 25%;
}

